delete from Zatrudnienie where  PracownikID in (select IDPracownik  from Pracownik where Aktywny = 0)

Delete from RPKODPoz from
RPKODPoz inner join RPWniosek ON RPKODPoz.RPWniosekID = RPWniosek.IDRPWniosek
inner join Pracownik ON RPWniosek.PracownikID = Pracownik.IDPracownik
where Aktywny = 0

delete from RPWniosek where  PracownikID in (select IDPracownik  from Pracownik where Aktywny = 0)

Delete from ProtokolEgzPoz from
ProtokolEgzPoz inner join ProtokolEgz ON ProtokolEgzPoz.ProtokolEgzID = ProtokolEgz.IDProtokolEgz
inner join Pracownik ON ProtokolEgz.PracownikID = Pracownik.IDPracownik
where Aktywny = 0

delete from ProtokolEgz where  PracownikID in (select IDPracownik  from Pracownik where Aktywny = 0)
delete from PlanPozPracownik where  PracownikID in (select IDPracownik  from Pracownik where Aktywny = 0)
delete from KartaEgzPracownik where  PracownikID in (select IDPracownik  from Pracownik where Aktywny = 0)

delete Pracownik where Aktywny = 0